.vscode/
*.pyc
*~
*#
#*
.#*
.spyproject/*
.idea
*pycache*
*.*~
*.*#
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
*.so
build
dist
requirements-download/
*.xml
wheelhouse
pyxai.egg-info/
pyxai_experimental.egg-info/
